<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countries</key>
	<array>
		<dict><key>name</key><string>AFGANISTAN</string><key>code</key><string>AF</string></dict>
<dict><key>name</key><string>ALBANIA</string><key>code</key><string>AL</string></dict>
<dict><key>name</key><string>ALEMANIA</string><key>code</key><string>DE</string></dict>
<dict><key>name</key><string>ANDORRA</string><key>code</key><string>AD</string></dict>
<dict><key>name</key><string>ANGOLA</string><key>code</key><string>AO</string></dict>
<dict><key>name</key><string>ANGUILLA</string><key>code</key><string>AI</string></dict>
<dict><key>name</key><string>ANTARTICA</string><key>code</key><string>AQ</string></dict>
<dict><key>name</key><string>ANTIGUA Y BARBUDA</string><key>code</key><string>AG</string></dict>
<dict><key>name</key><string>ANTILLAS HOLANDESAS</string><key>code</key><string>AN</string></dict>
<dict><key>name</key><string>ARABIA SAUDITA</string><key>code</key><string>SA</string></dict>
<dict><key>name</key><string>ARGELIA</string><key>code</key><string>DZ</string></dict>
<dict><key>name</key><string>ARGENTINA</string><key>code</key><string>AR</string></dict>
<dict><key>name</key><string>ARMENIA</string><key>code</key><string>AM</string></dict>
<dict><key>name</key><string>ARUBA</string><key>code</key><string>AW</string></dict>
<dict><key>name</key><string>AUSTRALIA</string><key>code</key><string>AU</string></dict>
<dict><key>name</key><string>AUSTRIA</string><key>code</key><string>AT</string></dict>
<dict><key>name</key><string>AZERBAIJAN</string><key>code</key><string>AZ</string></dict>
<dict><key>name</key><string>BAHAMAS</string><key>code</key><string>BS</string></dict>
<dict><key>name</key><string>BAHREIN</string><key>code</key><string>BH</string></dict>
<dict><key>name</key><string>BANGLADESH</string><key>code</key><string>BD</string></dict>
<dict><key>name</key><string>BARBADOS</string><key>code</key><string>BB</string></dict>
<dict><key>name</key><string>BELGICA</string><key>code</key><string>BE</string></dict>
<dict><key>name</key><string>BELICE</string><key>code</key><string>BZ</string></dict>
<dict><key>name</key><string>BENIN</string><key>code</key><string>BJ</string></dict>
<dict><key>name</key><string>BERMUDA</string><key>code</key><string>BM</string></dict>
<dict><key>name</key><string>BIELORRUSIA</string><key>code</key><string>BY</string></dict>
<dict><key>name</key><string>BOLIVIA</string><key>code</key><string>BO</string></dict>
<dict><key>name</key><string>BOSNIA Y HERZEGOWINA</string><key>code</key><string>BA</string></dict>
<dict><key>name</key><string>BOTSWANA</string><key>code</key><string>BW</string></dict>
<dict><key>name</key><string>BRASIL</string><key>code</key><string>BR</string></dict>
<dict><key>name</key><string>BRITISH INDIAN OCEAN TERRITORY</string><key>code</key><string>IO</string></dict>
<dict><key>name</key><string>BRUNEI DARUSSALAM</string><key>code</key><string>BN</string></dict>
<dict><key>name</key><string>BULGARIA</string><key>code</key><string>BG</string></dict>
<dict><key>name</key><string>BURKINA FASO</string><key>code</key><string>BF</string></dict>
<dict><key>name</key><string>BURUNDI</string><key>code</key><string>BI</string></dict>
<dict><key>name</key><string>BUTAN</string><key>code</key><string>BT</string></dict>
<dict><key>name</key><string>CABO VERDE</string><key>code</key><string>CV</string></dict>
<dict><key>name</key><string>CAMBOYA</string><key>code</key><string>KH</string></dict>
<dict><key>name</key><string>CAMERUM</string><key>code</key><string>CM</string></dict>
<dict><key>name</key><string>CANADA</string><key>code</key><string>CA</string></dict>
<dict><key>name</key><string>CHAD</string><key>code</key><string>TD</string></dict>
<dict><key>name</key><string>CHILE</string><key>code</key><string>CL</string></dict>
<dict><key>name</key><string>CHINA</string><key>code</key><string>CN</string></dict>
<dict><key>name</key><string>CHIPRE</string><key>code</key><string>CY</string></dict>
<dict><key>name</key><string>CHRISTMAS ISLAND</string><key>code</key><string>CX</string></dict>
<dict><key>name</key><string>COLOMBIA</string><key>code</key><string>CO</string></dict>
<dict><key>name</key><string>COMORAS</string><key>code</key><string>KM</string></dict>
<dict><key>name</key><string>CONGO</string><key>code</key><string>CG</string></dict>
<dict><key>name</key><string>COREA DEL NORTE</string><key>code</key><string>KP</string></dict>
<dict><key>name</key><string>COREA DEL SUR</string><key>code</key><string>KR</string></dict>
<dict><key>name</key><string>COSTA DE MARFIL</string><key>code</key><string>CI</string></dict>
<dict><key>name</key><string>COSTA RICA</string><key>code</key><string>CR</string></dict>
<dict><key>name</key><string>CROACIA</string><key>code</key><string>HR</string></dict>
<dict><key>name</key><string>CUBA</string><key>code</key><string>CU</string></dict>
<dict><key>name</key><string>CURAZAO</string><key>code</key><string>CW</string></dict>
<dict><key>name</key><string>DINAMARCA</string><key>code</key><string>DK</string></dict>
<dict><key>name</key><string>DOMINICA</string><key>code</key><string>DM</string></dict>
<dict><key>name</key><string>ECUADOR</string><key>code</key><string>EC</string></dict>
<dict><key>name</key><string>EGIPTO</string><key>code</key><string>EG</string></dict>
<dict><key>name</key><string>EL SALVADOR</string><key>code</key><string>SV</string></dict>
<dict><key>name</key><string>EMIRATOS ARABES UNIDOS</string><key>code</key><string>AE</string></dict>
<dict><key>name</key><string>ERITREA</string><key>code</key><string>ER</string></dict>
<dict><key>name</key><string>ESLOVAQUIA</string><key>code</key><string>SK</string></dict>
<dict><key>name</key><string>ESLOVENIA</string><key>code</key><string>SI</string></dict>
<dict><key>name</key><string>ESPANA E ISLAS CANARIAS</string><key>code</key><string>ES</string></dict>
<dict><key>name</key><string>ESTONIA</string><key>code</key><string>EE</string></dict>
<dict><key>name</key><string>ETIOPIA</string><key>code</key><string>ET</string></dict>
<dict><key>name</key><string>FEDERACIÓN RUSA</string><key>code</key><string>RU</string></dict>
<dict><key>name</key><string>FILIPINAS</string><key>code</key><string>PH</string></dict>
<dict><key>name</key><string>FINLANDIA</string><key>code</key><string>FI</string></dict>
<dict><key>name</key><string>FRANCIA</string><key>code</key><string>FR</string></dict>
<dict><key>name</key><string>FRENCH SOUTHERN TERRITORIES</string><key>code</key><string>TF</string></dict>
<dict><key>name</key><string>GABON</string><key>code</key><string>GA</string></dict>
<dict><key>name</key><string>GAMBIA</string><key>code</key><string>GM</string></dict>
<dict><key>name</key><string>GEORGIA</string><key>code</key><string>GE</string></dict>
<dict><key>name</key><string>GHANA</string><key>code</key><string>GH</string></dict>
<dict><key>name</key><string>GIBRALTAR</string><key>code</key><string>GI</string></dict>
<dict><key>name</key><string>GRANADA</string><key>code</key><string>GD</string></dict>
<dict><key>name</key><string>GRECIA</string><key>code</key><string>GR</string></dict>
<dict><key>name</key><string>GROENLANDIA</string><key>code</key><string>GL</string></dict>
<dict><key>name</key><string>GUADALUPE</string><key>code</key><string>GP</string></dict>
<dict><key>name</key><string>GUAM</string><key>code</key><string>GU</string></dict>
<dict><key>name</key><string>GUATEMALA</string><key>code</key><string>GT</string></dict>
<dict><key>name</key><string>GUINEA BISSAU</string><key>code</key><string>GW</string></dict>
<dict><key>name</key><string>GUINEA ECUATORIAL</string><key>code</key><string>GQ</string></dict>
<dict><key>name</key><string>GUINEA</string><key>code</key><string>GN</string></dict>
<dict><key>name</key><string>GUYANA FRANCESA</string><key>code</key><string>GF</string></dict>
<dict><key>name</key><string>GUYANA</string><key>code</key><string>GY</string></dict>
<dict><key>name</key><string>HAITI</string><key>code</key><string>HT</string></dict>
<dict><key>name</key><string>HEARD AND MCDONALD ISLANDS</string><key>code</key><string>HM</string></dict>
<dict><key>name</key><string>HONDURAS</string><key>code</key><string>HN</string></dict>
<dict><key>name</key><string>HONG KONG</string><key>code</key><string>HK</string></dict>
<dict><key>name</key><string>HUNGRIA</string><key>code</key><string>HU</string></dict>
<dict><key>name</key><string>INDIA</string><key>code</key><string>IN</string></dict>
<dict><key>name</key><string>INDONESIA</string><key>code</key><string>ID</string></dict>
<dict><key>name</key><string>IRAK</string><key>code</key><string>IQ</string></dict>
<dict><key>name</key><string>IRAN</string><key>code</key><string>IR</string></dict>
<dict><key>name</key><string>IRLANDA</string><key>code</key><string>IE</string></dict>
<dict><key>name</key><string>ISLANDIA</string><key>code</key><string>IS</string></dict>
<dict><key>name</key><string>ISLAS BOUVET</string><key>code</key><string>BV</string></dict>
<dict><key>name</key><string>ISLAS CAIMAN</string><key>code</key><string>KY</string></dict>
<dict><key>name</key><string>ISLAS COCOS</string><key>code</key><string>CC</string></dict>
<dict><key>name</key><string>ISLAS COOK</string><key>code</key><string>CK</string></dict>
<dict><key>name</key><string>ISLAS FEROE</string><key>code</key><string>FO</string></dict>
<dict><key>name</key><string>ISLAS FIJI</string><key>code</key><string>FJ</string></dict>
<dict><key>name</key><string>ISLAS MALVINAS</string><key>code</key><string>FK</string></dict>
<dict><key>name</key><string>ISLAS MARIANA DEL NORTE</string><key>code</key><string>MP</string></dict>
<dict><key>name</key><string>ISLAS MARSHALL</string><key>code</key><string>MH</string></dict>
<dict><key>name</key><string>ISLAS NIUE</string><key>code</key><string>NU</string></dict>
<dict><key>name</key><string>ISLAS NORFOLK</string><key>code</key><string>NF</string></dict>
<dict><key>name</key><string>ISLAS PITCAIRN</string><key>code</key><string>PN</string></dict>
<dict><key>name</key><string>ISLAS SALOMON</string><key>code</key><string>SB</string></dict>
<dict><key>name</key><string>ISLAS TOKELAU</string><key>code</key><string>TK</string></dict>
<dict><key>name</key><string>ISLAS TURCAS Y CAICOS</string><key>code</key><string>TC</string></dict>
<dict><key>name</key><string>ISLAS VIRGENES BRITANICAS</string><key>code</key><string>VG</string></dict>
<dict><key>name</key><string>ISLAS VIRGENES U.S.A</string><key>code</key><string>VI</string></dict>
<dict><key>name</key><string>ISLAS WALLIS Y FUTUNA</string><key>code</key><string>WF</string></dict>
<dict><key>name</key><string>ISRAEL</string><key>code</key><string>IL</string></dict>
<dict><key>name</key><string>ITALIA</string><key>code</key><string>IT</string></dict>
<dict><key>name</key><string>JAMAICA</string><key>code</key><string>JM</string></dict>
<dict><key>name</key><string>JAPON</string><key>code</key><string>JP</string></dict>
<dict><key>name</key><string>JORDANIA</string><key>code</key><string>JO</string></dict>
<dict><key>name</key><string>KAZAKSTAN</string><key>code</key><string>KZ</string></dict>
<dict><key>name</key><string>KENIA</string><key>code</key><string>KE</string></dict>
<dict><key>name</key><string>KIRGUISTAN</string><key>code</key><string>KG</string></dict>
<dict><key>name</key><string>KIRIBATI</string><key>code</key><string>KI</string></dict>
<dict><key>name</key><string>KUWAIT</string><key>code</key><string>KW</string></dict>
<dict><key>name</key><string>LAOS</string><key>code</key><string>LA</string></dict>
<dict><key>name</key><string>LESOTHO</string><key>code</key><string>LS</string></dict>
<dict><key>name</key><string>LETONIA</string><key>code</key><string>LV</string></dict>
<dict><key>name</key><string>LIBANO</string><key>code</key><string>LB</string></dict>
<dict><key>name</key><string>LIBERIA</string><key>code</key><string>LR</string></dict>
<dict><key>name</key><string>LIBIA</string><key>code</key><string>LY</string></dict>
<dict><key>name</key><string>LIECHTENSTEIN</string><key>code</key><string>LI</string></dict>
<dict><key>name</key><string>LITUANIA</string><key>code</key><string>LT</string></dict>
<dict><key>name</key><string>LUXEMBURGO</string><key>code</key><string>LU</string></dict>
<dict><key>name</key><string>MACAO</string><key>code</key><string>MO</string></dict>
<dict><key>name</key><string>MACEDONIA</string><key>code</key><string>MK</string></dict>
<dict><key>name</key><string>MADAGASCAR</string><key>code</key><string>MG</string></dict>
<dict><key>name</key><string>MALASIA</string><key>code</key><string>MY</string></dict>
<dict><key>name</key><string>MALAWI</string><key>code</key><string>MW</string></dict>
<dict><key>name</key><string>MALDIVAS</string><key>code</key><string>MV</string></dict>
<dict><key>name</key><string>MALI</string><key>code</key><string>ML</string></dict>
<dict><key>name</key><string>MALTA</string><key>code</key><string>MT</string></dict>
<dict><key>name</key><string>MARRUECOS</string><key>code</key><string>MA</string></dict>
<dict><key>name</key><string>MARTINICA</string><key>code</key><string>MQ</string></dict>
<dict><key>name</key><string>MAURITANIA</string><key>code</key><string>MR</string></dict>
<dict><key>name</key><string>MAURITIUS</string><key>code</key><string>MU</string></dict>
<dict><key>name</key><string>MAYOTTE</string><key>code</key><string>YT</string></dict>
<dict><key>name</key><string>MEXICO</string><key>code</key><string>MX</string></dict>
<dict><key>name</key><string>MICRONESIA</string><key>code</key><string>FM</string></dict>
<dict><key>name</key><string>MOLDAVIA</string><key>code</key><string>MD</string></dict>
<dict><key>name</key><string>MONACO</string><key>code</key><string>MC</string></dict>
<dict><key>name</key><string>MONGOLIA</string><key>code</key><string>MN</string></dict>
<dict><key>name</key><string>MONTENEGRO</string><key>code</key><string>ME</string></dict>
<dict><key>name</key><string>MONTSERRAT</string><key>code</key><string>MS</string></dict>
<dict><key>name</key><string>MOZAMBIQUE</string><key>code</key><string>MZ</string></dict>
<dict><key>name</key><string>MYANMAR</string><key>code</key><string>MM</string></dict>
<dict><key>name</key><string>NAMIBIA</string><key>code</key><string>NA</string></dict>
<dict><key>name</key><string>NAURU</string><key>code</key><string>NR</string></dict>
<dict><key>name</key><string>NEPAL</string><key>code</key><string>NP</string></dict>
<dict><key>name</key><string>NEW VENEZUELA</string><key>code</key><string>VF</string></dict>
<dict><key>name</key><string>NICARAGUA</string><key>code</key><string>NI</string></dict>
<dict><key>name</key><string>NIGER</string><key>code</key><string>NE</string></dict>
<dict><key>name</key><string>NIGERIA</string><key>code</key><string>NG</string></dict>
<dict><key>name</key><string>NO USAR POR FAVOR</string><key>code</key><string>RD</string></dict>
<dict><key>name</key><string>NO USAR POR FAVOR</string><key>code</key><string>XB</string></dict>
<dict><key>name</key><string>NORUEGA</string><key>code</key><string>NO</string></dict>
<dict><key>name</key><string>NUEVA CALEDONIA</string><key>code</key><string>NC</string></dict>
<dict><key>name</key><string>NUEVA ZELANDA</string><key>code</key><string>NZ</string></dict>
<dict><key>name</key><string>OMAN</string><key>code</key><string>OM</string></dict>
<dict><key>name</key><string>PAIS COMODIN</string><key>code</key><string>**</string></dict>
<dict><key>name</key><string>PAISES BAJOS</string><key>code</key><string>NL</string></dict>
<dict><key>name</key><string>PAKISTAN</string><key>code</key><string>PK</string></dict>
<dict><key>name</key><string>PALAU</string><key>code</key><string>PW</string></dict>
<dict><key>name</key><string>PALESTINIAN TERRITORY OCCUPIED</string><key>code</key><string>PS</string></dict>
<dict><key>name</key><string>PANAMA</string><key>code</key><string>PA</string></dict>
<dict><key>name</key><string>PAPUA NUEVA GUINEA</string><key>code</key><string>PG</string></dict>
<dict><key>name</key><string>PARAGUAY</string><key>code</key><string>PY</string></dict>
<dict><key>name</key><string>PERU</string><key>code</key><string>PE</string></dict>
<dict><key>name</key><string>POLINESIA FRANCESA</string><key>code</key><string>PF</string></dict>
<dict><key>name</key><string>POLONIA</string><key>code</key><string>PL</string></dict>
<dict><key>name</key><string>PORTUGAL</string><key>code</key><string>PT</string></dict>
<dict><key>name</key><string>PUERTO RICO</string><key>code</key><string>PR</string></dict>
<dict><key>name</key><string>QATAR</string><key>code</key><string>QA</string></dict>
<dict><key>name</key><string>REINO UNIDO</string><key>code</key><string>GB</string></dict>
<dict><key>name</key><string>REP.DOMINICANA</string><key>code</key><string>DO</string></dict>
<dict><key>name</key><string>REPUBLICA CENTRAL AFRICANA</string><key>code</key><string>CF</string></dict>
<dict><key>name</key><string>REPUBLICA CHECA</string><key>code</key><string>CZ</string></dict>
<dict><key>name</key><string>REPUBLICA DEMOCRATICA DE CONGO</string><key>code</key><string>CD</string></dict>
<dict><key>name</key><string>REUNION</string><key>code</key><string>RE</string></dict>
<dict><key>name</key><string>RUANDA</string><key>code</key><string>RW</string></dict>
<dict><key>name</key><string>RUMANIA</string><key>code</key><string>RO</string></dict>
<dict><key>name</key><string>S.GEORGIA Y S.SANDWICH ISLANDS</string><key>code</key><string>GS</string></dict>
<dict><key>name</key><string>SAHARA OCCIDENTAL</string><key>code</key><string>EH</string></dict>
<dict><key>name</key><string>SAMOA AMERICANA</string><key>code</key><string>AS</string></dict>
<dict><key>name</key><string>SAMOA</string><key>code</key><string>WS</string></dict>
<dict><key>name</key><string>SAN MARINO</string><key>code</key><string>SM</string></dict>
<dict><key>name</key><string>SAN TOME Y  PRINCIPE</string><key>code</key><string>ST</string></dict>
<dict><key>name</key><string>SAN VICENTE</string><key>code</key><string>VC</string></dict>
<dict><key>name</key><string>SANTA ELENA</string><key>code</key><string>SH</string></dict>
<dict><key>name</key><string>SANTA LUCIA</string><key>code</key><string>LC</string></dict>
<dict><key>name</key><string>SENEGAL</string><key>code</key><string>SN</string></dict>
<dict><key>name</key><string>SERBIA</string><key>code</key><string>RS</string></dict>
<dict><key>name</key><string>SEYCHELLES</string><key>code</key><string>SC</string></dict>
<dict><key>name</key><string>SIERRA LEONA</string><key>code</key><string>SL</string></dict>
<dict><key>name</key><string>SINGAPORE</string><key>code</key><string>SG</string></dict>
<dict><key>name</key><string>SIRIA</string><key>code</key><string>SY</string></dict>
<dict><key>name</key><string>SOMALIA</string><key>code</key><string>SO</string></dict>
<dict><key>name</key><string>SRI LANKA</string><key>code</key><string>LK</string></dict>
<dict><key>name</key><string>ST. KITTS Y NEVIS</string><key>code</key><string>KN</string></dict>
<dict><key>name</key><string>SUAZILANDIA</string><key>code</key><string>SZ</string></dict>
<dict><key>name</key><string>SUDAFRICA</string><key>code</key><string>ZA</string></dict>
<dict><key>name</key><string>SUDAN</string><key>code</key><string>SD</string></dict>
<dict><key>name</key><string>SUECIA</string><key>code</key><string>SE</string></dict>
<dict><key>name</key><string>SUIZA</string><key>code</key><string>CH</string></dict>
<dict><key>name</key><string>SURINAM</string><key>code</key><string>SR</string></dict>
<dict><key>name</key><string>SVALBARD Y J.MAYEN ISLANDS</string><key>code</key><string>SJ</string></dict>
<dict><key>name</key><string>St. PIERRE Y MIQUELON</string><key>code</key><string>PM</string></dict>
<dict><key>name</key><string>TAILANDIA</string><key>code</key><string>TH</string></dict>
<dict><key>name</key><string>TAIWAN</string><key>code</key><string>TW</string></dict>
<dict><key>name</key><string>TAJIKISTAN</string><key>code</key><string>TJ</string></dict>
<dict><key>name</key><string>TANZANIA</string><key>code</key><string>TZ</string></dict>
<dict><key>name</key><string>TIMOR ORIENTAL</string><key>code</key><string>TP</string></dict>
<dict><key>name</key><string>TOGO</string><key>code</key><string>TG</string></dict>
<dict><key>name</key><string>TONGA</string><key>code</key><string>TO</string></dict>
<dict><key>name</key><string>TRINIDAD Y TOBAGO</string><key>code</key><string>TT</string></dict>
<dict><key>name</key><string>TUNEZ</string><key>code</key><string>TN</string></dict>
<dict><key>name</key><string>TURKMENISTAN</string><key>code</key><string>TM</string></dict>
<dict><key>name</key><string>TURQUIA</string><key>code</key><string>TR</string></dict>
<dict><key>name</key><string>TUVALU</string><key>code</key><string>TV</string></dict>
<dict><key>name</key><string>U.S MINOR OUTLYING ISLANDS</string><key>code</key><string>UM</string></dict>
<dict><key>name</key><string>U.S.A.</string><key>code</key><string>US</string></dict>
<dict><key>name</key><string>UCRANIA</string><key>code</key><string>UA</string></dict>
<dict><key>name</key><string>UGANDA</string><key>code</key><string>UG</string></dict>
<dict><key>name</key><string>URUGUAY</string><key>code</key><string>UY</string></dict>
<dict><key>name</key><string>UZBEKISTAN</string><key>code</key><string>UZ</string></dict>
<dict><key>name</key><string>VANUATU</string><key>code</key><string>VU</string></dict>
<dict><key>name</key><string>VATICANO</string><key>code</key><string>VA</string></dict>
<dict><key>name</key><string>VENEZUELA</string><key>code</key><string>VE</string></dict>
<dict><key>name</key><string>VIETNAM</string><key>code</key><string>VN</string></dict>
<dict><key>name</key><string>YEMEN</string><key>code</key><string>YE</string></dict>
<dict><key>name</key><string>YIBUTI</string><key>code</key><string>DJ</string></dict>
<dict><key>name</key><string>YUGOSLAVIA</string><key>code</key><string>YU</string></dict>
<dict><key>name</key><string>ZAMBIA</string><key>code</key><string>ZM</string></dict>
<dict><key>name</key><string>ZIMBABWE</string><key>code</key><string>ZW</string></dict>

	</array>
</dict>
</plist>
